/* Root Variables */
:root {
    --primary-color: #FFD700;
    --secondary-color: #333333;
    --background-color: #000000;
    --font-family: 'Roboto', sans-serif;
    --font-size-large: 1.2em; /* Adjusted font size */
    --call-us-text-color: #FFD700;
    --transition-duration: 0.3s;
    --border-radius: 5px;
    --heading-font-weight: 700;
    --base-padding: 10px;
}

/* Fade-in and Fade-out Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

body.fade-in {
    animation: fadeIn 1s ease-in-out;
}

body.fade-out {
    animation: fadeOut 1s ease-in-out;
}

/* Global Styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

/* Remove underline from all links */
a {
    text-decoration: none;
}

/* Underline only on hover for nav and footer links */
nav a:hover, #footer-content a:hover {
    text-decoration: underline;
}

/* Ensure no underline on other links */
.icon-item a:hover, .cta-button:hover {
    text-decoration: none;
}

.centered-text {
    text-align: center;
}

/* Header Styles */
header, #header-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: var(--background-color);
    color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-container img, #header-logo, #footer-logo {
    width: 18vw; /* Increased size */
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 5;
    position: relative;
}

/* Hide hamburger menu on larger screens */
@media (min-width: 769px) {
    .navbar-toggle {
        display: none;
    }

    /* Hide dropdown menu on larger screens */
    .dropdown .custom-dropdown-menu {
        display: none;
    }
    .dropdown:hover .custom-dropdown-menu {
        display: none;
    }
}

.navbar-toggle {
    display: none;
}

/* Navigation Styles */
nav, .nav-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.2em; /* Adjusted font size to prevent wrapping */
    flex-grow: 1;
    justify-content: space-between; /* Adjusted to spread nav items */
}

nav ul li {
    margin-left: 2vw; /* Increased spacing between nav items */
    position: relative;
}

nav a, .cta-button, #footer-content a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5vw 1vw; /* Adjusted padding */
    font-size: 1em; /* Ensuring consistent font size */
}

nav a:hover, .cta-button:hover, #footer-content a:hover {
    text-decoration: underline;
    color: var(--primary-color); /* Ensure text turns yellow */
}

/* Call Us Button in Header */
.call-us-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5vw 1vw;
    border-radius: 5px;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

.call-us-button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    text-decoration: none;
}

/* Dropdown Menu Styles */
@media (max-width: 768px) {
    .dropdown .custom-dropdown-menu {
        display: none;
    }
    .dropdown .custom-dropdown-menu.show {
        display: block;
    }
}

@media (min-width: 769px) {
    .dropdown .custom-dropdown-menu {
        display: none;
    }
    .dropdown:hover .custom-dropdown-menu {
        display: none;
    }
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border: 4px solid #ffffff;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform var(--transition-duration), box-shadow var(--transition-duration), background-color var(--transition-duration), color var(--transition-duration);
}

form:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    background-color: var(--primary-color);
    color: var(--background-color);
}

form label {
    margin-bottom: 5px;
    display: block;
    color: inherit;
}

form .form-group {
    width: 100%;
    margin: 10px 0;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
    width: calc(100% - 20px); /* Ensuring input fields have consistent width */
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

form input[type="submit"] {
    width: calc(100% - 20px); /* Ensuring submit button has consistent width */
    padding: 10px 20px;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

form input[type="submit"]:hover {
    background-color: black; /* Updated to turn black */
    color: var(--primary-color); /* Text turns yellow */
}


/* Contact Section */
#contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

#contact-intro {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#contact-details, #contact-form {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

#contact-details {
    text-align: left;
}

#contact-details a {
    color: var(--primary-color);
    text-decoration: none;
}

#contact-details a:hover {
    text-decoration: underline;
}

#contact-form {
    text-align: center;
}

#contact-form h2 {
    text-align: center;
}

.map-image {
    max-width: 60%; /* Adjusted size */
    height: auto;
    display: block;
    margin: 20px 0 20px 0; /* Move image to the left */
}

/* Footer Styles */
footer, #footer-placeholder {
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#general-links, #service-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

#footer-logo {
    width: 18vw; /* Increased size */
    height: auto;
    margin: 0 20px;
}

#general-links a, #service-links a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 5px 0;
    display: flex;
    align-items: center; /* Align icon and text vertically */
}

#general-links a:hover, #service-links a:hover {
    text-decoration: underline;
}

footer p {
    margin: 5px 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center; /* Align icon and text vertically */
    justify-content: center; /* Ensure they are centered */
}

.footer-contact-icon {
    margin-right: 2px; /* Adjusted to bring icon closer to text */
    vertical-align: middle;
    font-size: 1.2em; /* Adjust icon size if needed */
}

#footer-content p a {
    margin-left: 2px; /* Reduced margin to bring icon and text closer */
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center; /* Align icon and text vertically */
}

#footer-content p a:hover {
    text-decoration: underline;
}

/* Instagram Icon Color */
.nav-container i.fab.fa-instagram,
.footer-contact-icon i.fab.fa-instagram,
.icon-item i.fab.fa-instagram {
    color: #E1306C; /* Official Instagram color */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
        margin-left: auto;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 30px;
        cursor: pointer;
        z-index: 10;
    }

    .navbar-toggle span {
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--primary-color);
        border-radius: 2px;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--background-color);
        z-index: 999;
    }

    .nav-container.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 1vh;
    }

    .nav-container a {
        padding: 10px;
        width: 100%;
        display: block;
    }

    .call-us-button {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    nav ul {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    nav ul {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    nav ul {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .cta-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    nav ul {
        font-size: 0.9em;
    }
}

/* Hero Section */
#hero {
    position: relative;
    text-align: center;
    color: white;
}

#hero img {
    width: 100%;
    height: auto;
    display: block;
}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
}

#hero-text h1 {
    margin-bottom: 20px;
}

#hero-text p {
    margin-bottom: 40px;
}

#hero-text .cta-button {
    margin-top: 20px;
}

/* Call-to-Action Button */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

.cta-button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    text-decoration: none;
}

/* Services Overview and Main Content */
#services-overview, .centered-content {
    text-align: center;
    margin: 20px auto;
}

#services-overview h1 {
    margin: 0 auto;
    width: fit-content;
}

#services-overview p {
    margin: 0 auto;
    max-width: 800px;
}

#intro, #how-it-works {
    padding: 40px 20px;
    text-align: center;
}

/* Steps Grid */
.steps-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.step {
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

.step:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.request-quote-container {
    text-align: center;
    margin-top: 15%; /* Adjusted to lower the button */
    margin-bottom: 20px;
}

.request-quote-container .cta-button {
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 15px;
    transition: background-color var(--transition-duration), color var(--transition-duration), border-color var(--transition-duration);
}

.request-quote-container .cta-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-color: var(--secondary-color);
}

/* Icon Grid Styles */
.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.icon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration), color var(--transition-duration);
}

.icon-item:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.icon-item a {
    text-decoration: none;
}

.icon-item i {
    font-size: 48px;
    margin-bottom: 10px;
    transition: transform var(--transition-duration), color var(--transition-duration);
    display: block;
}

.icon-item:hover i {
    transform: scale(1.2);
}

.icon-item h2 {
    margin: 10px 0 5px 0;
}

.icon-item p {
    margin: 0;
    font-size: 16px;
}

/* Portfolio Grid */
.grid-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .grid-collage {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-collage {
        grid-template-columns: 1fr;
    }
}

.grid-item {
    overflow: hidden;
}

.grid-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.grid-image:hover {
    transform: scale(1.1);
}

/* Mobile Menu Styles */
@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
        margin-left: auto;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 30px;
        cursor: pointer;
        z-index: 10;
    }

    .navbar-toggle span {
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--primary-color);
        border-radius: 2px;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--background-color);
        z-index: 999;
    }

    .nav-container.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 1vh;
    }

    .nav-container a {
        padding: 10px;
        width: 100%;
        display: block;
    }

    .call-us-button {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    nav ul {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    nav ul {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    nav ul {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .cta-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    nav ul {
        font-size: 0.9em;
    }
}
